<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaeychoi.dailyus.user.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.jaeychoi.dailyus.user.domain.User">
        <id property="userId" column="user_id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="followerCount" column="follower_count"/>
        <result property="followeeCount" column="followee_count"/>
        <result property="profileImage" column="profile_image"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deletedAt" column="deleted_at"/>
    </resultMap>

    <select id="existsActiveByEmail" parameterType="string" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM users
            WHERE email = #{email}
              AND deleted_at IS NULL
        )
    </select>

    <select id="existsActiveByNickname" parameterType="string" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM users
            WHERE nickname = #{nickname}
              AND deleted_at IS NULL
        )
    </select>

    <select id="findActiveByEmail" parameterType="string" resultMap="userResultMap">
        SELECT
            user_id,
            email,
            password,
            nickname,
            follower_count,
            followee_count,
            profile_image,
            created_at,
            updated_at,
            deleted_at
        FROM users
        WHERE email = #{email}
          AND deleted_at IS NULL
    </select>

    <select id="findActiveById" parameterType="long" resultMap="userResultMap">
        SELECT
            user_id,
            email,
            password,
            nickname,
            follower_count,
            followee_count,
            profile_image,
            created_at,
            updated_at,
            deleted_at
        FROM users
        WHERE user_id = #{userId}
          AND deleted_at IS NULL
    </select>

    <select id="existsActiveById" parameterType="long" resultType="boolean">
      SELECT EXISTS(
        SELECT 1
        FROM users
        WHERE user_id = #{userId}
          AND deleted_at IS NULL
      )
    </select>

    <update id="incrementFollowerCount" parameterType="long">
      UPDATE users
      SET follower_count = follower_count + 1
      WHERE user_id = #{userId}
        AND deleted_at IS NULL
    </update>

    <update id="incrementFolloweeCount" parameterType="long">
      UPDATE users
      SET followee_count = followee_count + 1
      WHERE user_id = #{userId}
        AND deleted_at IS NULL
    </update>

    <update id="decrementFollowerCount" parameterType="long">
      UPDATE users
      SET follower_count = follower_count - 1
      WHERE user_id = #{userId}
        AND deleted_at IS NULL
        AND follower_count > 0
    </update>

    <update id="decrementFolloweeCount" parameterType="long">
      UPDATE users
      SET followee_count = followee_count - 1
      WHERE user_id = #{userId}
        AND deleted_at IS NULL
        AND followee_count > 0
    </update>

    <insert id="insert"
            parameterType="com.jaeychoi.dailyus.user.domain.User"
            useGeneratedKeys="true"
            keyProperty="userId">
      INSERT INTO users (email,
                         password,
                         nickname,
                         follower_count,
                         followee_count,
                         profile_image,
                         deleted_at)
      VALUES (#{email},
              #{password},
              #{nickname},
              #{followerCount},
              #{followeeCount},
              #{profileImage},
              #{deletedAt})
    </insert>

</mapper>
