<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaeychoi.dailyus.hashtag.mapper.HashtagMapper">

    <resultMap id="hashtagResultMap" type="com.jaeychoi.dailyus.hashtag.domain.Hashtag">
        <constructor>
            <idArg column="hashtag_id" javaType="java.lang.Long"/>
            <arg column="name" javaType="java.lang.String"/>
            <arg column="created_at" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>

    <select id="findByNames" resultMap="hashtagResultMap">
        SELECT hashtag_id, name, created_at
        FROM hashtag
        WHERE name IN
        <foreach collection="names" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>

    <insert id="insert"
            parameterType="com.jaeychoi.dailyus.hashtag.domain.Hashtag"
            useGeneratedKeys="true"
            keyProperty="hashtagId">
        INSERT INTO hashtag (name)
        VALUES (#{name})
    </insert>

    <insert id="insertPostHashtags">
        INSERT INTO hashtag_posts (
            hashtag_id,
            post_id
        ) VALUES
        <foreach collection="hashtagIds" item="hashtagId" separator=",">
            (
                #{hashtagId},
                #{postId}
            )
        </foreach>
    </insert>

</mapper>
